.container {
  position: fixed;
  top: 180px;
  left: 900px;
  background-color: #fff;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

  .thumb {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;

    &:hover,
    &:active,
    .focusVisible {
      box-shadow: none !important;
    }
  }

  .submitButton {
    display: block;
    width: 275px;
    height: 60px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    outline: none;
  }
}

.phoneFrame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 256px;
  background-repeat: no-repeat;
}

.logo {
  height: 80px;
  margin-top: 30px;
}

.title {
  margin-top: 15px;
  font-size: 21px;
  font-weight: 700;
}

.subTitle {
  margin-top: 7px;
  font-size: 15px;
}
.content {
  margin-top: -35px;
  padding: 40px 25px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  background-color: #fff;
}

.sectionTitle {
  padding: 40px 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.36;
  text-align: center;
}

.uploadControlsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  color: #5f5f5f;
  font-size: 12px;
}

.uploadControlsLabel {
  margin-left: 15px;
}

.uploadControl {
  display: flex;
  align-items: center;
}

.submitButtonWrapper {
  display: flex;
  justify-content: center;
}

.emojiRow,
.evaluationMarksRow {
  display: flex;
  justify-content: space-between;
}

.evaluationSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 26px 17px;
  border-radius: 20px;
}

.evaluationTopic {
  margin: 14px 0 24px 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.shareIcon {
  width: 40px;
  height: 40px;
}

.sliderWrapper {
  position: relative;
  margin-bottom: 30px;
}

.sliderValueLabel {
  position: absolute;
  transform: translate(-50%, calc(-50% - 6px));
  padding: 8px 15px;
  border-radius: 10px;
}
