.surveyPageLayout {
  display: grid;
  height: 100%;
  grid-template-columns: 500px 1fr;
  overflow-x: hidden;
}

.container {
  position: relative;
  box-sizing: border-box;

  .grades {
    justify-content: space-between;
  }

  .grade {
    margin: 0;
  }

  .gradeText {
    margin-top: 16px;
  }

  .addQuestionButton {
    margin: 20px 0 30px 0;
    flex-grow: 0;
  }

  .questionsSection {
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 15px;
  }

  .questionsSectionSummary {
    padding-left: 0;
    padding-right: 10px;
    padding-right: 0;
    border-bottom: 1px solid #d0d3d6;
  }

  .questionsSectionDetail {
    flex-direction: column;
    padding-left: 0;
    margin-right: -10px;
  }

  .sharingQuestionsInput {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .contactSectionTitlesInput {
    margin-bottom: 30px;
  }
}

.inputsColumn {
  width: 320px;
  padding-left: 5px;
}

.formLabel {
  margin-bottom: 10px;
  color: #5f5f5f;
  font-size: 12px;
}
.sectionTitle {
}

.emojiPreview {
  display: flex;
}

.emojiUpload,
.evaluationMark {
  margin-right: 20px;
}
