.surveyPageLayout {
  display: grid;
  height: 100%;
  grid-template-columns: 500px 1fr;
  overflow-x: hidden;
}

.container {
  position: relative;
  box-sizing: border-box;

  .grades {
    justify-content: space-between;
  }

  .grade {
    margin: 0;
  }

  .gradeText {
    margin-top: 16px;
  }

  .addQuestionButton {
    margin: 20px 0 0 0;
    flex-grow: 0;
  }

  .evaluationTopicsSection {
    background-color: transparent;
    box-shadow: none;

    &:before {
      display: none;
    }
  }

  .evaluationLabel {
    margin-bottom: 5px;
  }

  .evaluationTopicsSectionSummary {
    padding-left: 0;
    padding-right: 10px;
    padding-right: 0;
  }

  .evaluationTopicsSectionDetail {
    flex-direction: column;
    padding-left: 0;
    margin-right: -10px;
  }

  .sharingQuestionsInput {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .contactSectionTitlesInput {
    margin-bottom: 7px;
  }

  .localeSelect {
    margin-bottom: 20px;
  }

  .localeCheckbox {
    margin-left: -12px;

    .localeCheckboxChecked {
      color: #6d9e4a;
    }
  }

  .feedbackSectionWrapper {
    padding-bottom: 12px;
  }

  .sectionWrapper {
    padding-bottom: 5px;
  }
}

.inputsColumn {
  width: 320px;
  padding-left: 5px;
}

.formLabel {
  margin-bottom: 10px;
  color: #5f5f5f;
  font-size: 12px;
}

.emojiPreview {
  display: flex;
}

.emojiUpload,
.evaluationMark {
  margin-right: 20px;
}

.defaulLocaleMessage {
  display: flex;
  color: #6d9e4a;
  align-items: center;

  .defaultLocaleCheckmark {
    margin-right: 6px;
    fill: #6d9e4a;
  }
}
